body { 
  margin: 0px;
  background-color: #282c34;
}

.App {
  text-align: center;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-end;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.emoji {
  font-size: calc(10px + 10vmin);
  margin: 1rem 0 0.5rem 0;
}

.emoji-text {
  font-size: calc(10px + 1vmin);
  font-style: italic;
  margin: 1rem 0 0.5rem 0;
}

.wordContainer{
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.charCell {
  padding: 0.5vmin 1vmin 0.5vmin 1vmin;
  margin: auto 0 auto 0.5rem;
  font-size: 5vmin;
  border-radius: 6px;
}

.activeChar{
  background-color: #61dafb;
}

.inactiveChar{
  background-color: #3f3f3f;
}

.spaceChar{
  background-color: #282c34;
}

.keyCell{
  font-size: 1rem;
  border-radius: 6px;
  background-color: #bdbdbd;
  user-select: none;
}

.keyCell:active{
  background-color: #F29A46;
}

.keyboard {
  display: flex;
  margin-top: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.keyboard > div{
  margin: 0 0.1rem 0.5rem 0;
  flex-grow: 1;
  width: 9%;
}